@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@layer base {
    .body-style {
        @apply w-screen h-screen bg-fixed bg-no-repeat bg-cover bg-[url('/pictures/bg.jpg')] flex items-center justify-center font-lato;
    }
  .container-game {
    @apply relative w-[95%] h-[95%] bg-gray-200 flex;
  }
  .player-section {
    @apply flex flex-col justify-evenly items-center w-1/2 h-full;
  }
  .active-player-bg {
    @apply bg-neutral-400;
  }

  .container-player {
    @apply relative text-center w-1/2 sm:w-1/2 lg:w-3/5 xl:w-1/2 2xl:w-3/5;
  }

  .player-txt {
    @apply text-base sm:text-lg md:text-2xl lg:text-4xl 2xl:text-5xl sm:mb-10 md:mb-14 lg:mb-20 2xl:mb-24;
  }

  .active-player-bold {
    @apply font-bold;
  }

  .party-score {
    @apply text-red-600 text-lg sm:text-3xl md:text-5xl xl:text-8xl 2xl:text-9xl;
  }

  .circle-r {
    @apply absolute top-2 right-0 bg-red-600 rounded-full w-2 h-2 sm:w-3 sm:h-3 md:w-3.5 md:h-3.5 lg:w-5 lg:h-5 2xl:w-8 2xl:h-8;
  }

  .current-score-container {
    @apply bg-red-600 w-1/2 sm:w-1/3 py-2 sm:py-4 md:py-6 xl:py-10 flex flex-col justify-center items-center space-y-2 sm:space-y-3.5 md:space-y-5 lg:space-y-10 2xl:space-y-11;
  }

  .current-score-title {
    @apply text-white text-sm sm:text-lg lg:text-2xl xl:text-3xl 2xl:text-4xl;
  }

  .current-score {
    @apply text-lg sm:text-xl md:text-2xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
  }
}
